{% load render_bundle from webpack_loader %}
<html>
<head>
</head>
<body>
<nav class="header navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">PTT Rank</a>
        </div>
    </div>
</nav>
<div id="root"></div>

{% render_bundle 'main' %}
<footer class="footer">
    Design by GCA
    <div class="pull-right icon">
        <i class="fa fa-facebook-official" aria-hidden="true"></i>
        <i class="fa fa-github" aria-hidden="true"></i>
    </div>
</footer>
</body>
</html>