{% load staticfiles %}

<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static "semantic/dist/semantic.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "combined.css" %}">
</head>
<body>
<div class="ui inverted segment">
    <div class="ui inverted secondary pointing menu">
        <div class="item">
            PTT Rank
        </div>
    </div>
</div>
<div class="ui grid page">
    <div class="row">
        <div class="six wide column">
            <div id="top_commenters"></div>
        </div>
        <div class="ten wide column">
            <div id="hottest_post"></div>
        </div>
    </div>
    <div class="row">
        <div class="five wide column" id="top_posters"></div>
        <div class="five wide column" id="top_quality"></div>
        <div class="five wide column" id="top_conscience"></div>
    </div>
</div>

<script src="{% static "react/react.js" %}"></script>
<script src="{% static "combined.js" %}"></script>
<script src="{% static "jquery/dist/jquery.js" %}"></script>
<script src="{% static "semantic/dist/semantic.js" %}"></script>
</body>
</html>