
.hottest-post {
}

.callout .body {
    font-size: 18px;
    color: black;
    text-decoration: none;
}

.callout .header {
    margin-bottom: 8px;
    color: #575757;
}

.callout {
    border: 1px solid #eee;
    border-left-width: 7px;
    border-radius: 3px;
    border-left-color: #2C8C6D;
    margin: 5px;
    background-color: #F9F9F9;
}

.callout.hot {
    border-left-color: #D37342;
}

.callout.hottest {
    border-left-color: #BD3B62;
}

.callout.normal {
    border-left-color: #75BC3B;
}

.callout .date {
    color: #767676;
}

.callout .board {
    color: #767676;
    font-size: 24px;
}

.callout .icon {
    padding: 5px;
}