html, body {
    background: #F3F3F3;
}
.header,.navbar {
    background-color: #D7D7D7;
    border-color: #A9A9A9;
}
.page {
    padding: 20px;
}

.footer {
    height: 20px;
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: #D7D7D7;
}